body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.homePageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #444;
  height: 60px;
  font-size: larger;
  font-weight: bolder;
}

.navItem {
  margin-right: 20px;
  cursor: pointer;
}

.navItem:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.searchInput {
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #222;
  color: white;
  margin-right: 20px;
}

.registerButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #666;
}

.content {
  padding: 20px;
}

.movieSlider {
  display: flex;
  width:40%;
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
}

.movieContainer {
  margin-top: 20px;
  width: 100%;
  height: auto;
  /* height: 750px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviePoster {
  width:30vw;
  height: 70vh;
  border-radius: 20px;
  /* object-fit: cover; */
}

.prevButton, .nextButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
.navItem {
  margin-right: 20px;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navItem:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}
