.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.navItem {
  color: white;
  margin-right: 15px;
}

.navItemLink {
  color: white;
  text-decoration: none;
}

.navItemLink:hover {
  color: black;
}

.searchInput {
  width:35%;
  height:1.5rem;
  padding: 5px;
}

.registerButton {
  background-color: #ff6347;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.userSection {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  position: relative;
}

.userIcon {
  font-size: 24px;
  margin-right: 8px;
}

.username {
  font-size: 16px;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  color: black;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: left;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}
